.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: calcRem(18px);
  line-height: calcRem(22px);
  @media only screen and (max-width: 991px){
    font-size: calcRem(16px);
  }
  @media only screen and (max-width: 767px){
    width: 100%;
    justify-content: center;
    font-size: calcRem(14px);
    line-height: calcRem(22px);
  }
  &.blue{
    background-color: var(--brand-bright-blue);
    color: var(--brand-white);
    border: solid 3px var(--brand-white);
    padding: calcRem(18px, 21px);
    &.with-bg{
      background-size: cover;
      background-position: center;
    }
  }
  &.no-border{
    border: 0px;
  }
}
