// SharpGroteskBook22

@mixin custom-font($font-family, $file-path) {
  @font-face {
      font-family: $font-family;
      src        : url('#{$file-path}.woff') format('woff');
      font-weight : normal;
      font-style  : normal;
      font-display: swap;
  }
}


@include custom-font(SharpGroteskBook22, '../../fonts/SharpGroteskBook22/SharpGroteskBook22');
@include custom-font(SharpGroteskMediumItalic22, '../../fonts/SharpGroteskBook22/SharpGroteskMediumItalic22');


@mixin Font-Regular {
    font-family: 'SharpGroteskBook22';
}

@mixin Font-Meduim-Italic {
  font-family: 'SharpGroteskMediumItalic22';
}
