input[type="email"],
input[type="text"]{
  background-color: var(--brand-royal);
  color: var(--brand-white);
  width: 100%;
  padding: calcRem(19px, 30px);
  border: 4px solid var(--brand-white);
  font-size: calcRem(20px);
  line-height: calcRem(30px);
  outline: none;
  @media only screen and (max-width: 1024px){
    font-size: calcRem(16px);
    line-height: calcRem(16px);
    padding: calcRem(20px, 24px);
  }
  @media only screen and (max-width: 767px){
    font-size: calcRem(14px);
    line-height: calcRem(14px);
    border-width: calcRem(3px);
    padding: calcRem(20px);
  }
}
select{
  background-color: var(--brand-royal);
}

.wpcf7-not-valid-tip{
  padding-top: 4px;
}

.wpcf7-response-output{
  display: none !important;
}

::-webkit-input-placeholder{
  color: var(--brand-white);
}

/* custom dropdown */
.cs-skin-border ul span {
	padding: 19px 30px;
  @media only screen and (max-width: 1024px){
    padding: calcRem(20px, 24px);
  }
  @media only screen and (max-width: 767px){
    padding: calcRem(20px);
  }
}

.cs-select span {
	padding: 19px 30px;
  @media only screen and (max-width: 1024px){
    padding: calcRem(20px, 24px);
  }
  @media only screen and (max-width: 767px){
    padding: calcRem(20px);
  }
}
