//-----------------------------------------------------------------
// Color Palette
//-----------------------------------------------------------------
$brand-white   : #FFFFFF;
$brand-black   : #000000;

// Branding Colors
$brand-primary : #EFBC10;
$brand-error   : #e50000;

$brand-yellow  : #FFCC00;
$gray-darker   : #151515;
$gray-dark     : #131313;
$gray          : #f1f1f1; // Font base color
$gray-light    : #abb6bc;
$gray-lighter  : #f6f6fb;

//-----------------------------------------------------------------
// Color Classes
//-----------------------------------------------------------------
.brand-white { color: $brand-white; }
.brand-black { color: $brand-black; }

//
.gray-darker { color: $gray-darker; }
.gray-dark { color: $gray-dark; }
.gray { color: $gray; }
.gray-light { color: $gray-light; }
.gray-lighter{ color:$gray-lighter; }
//

.brand-primary { color: $brand-primary; }
