//==============* Button mixin *=======================
.btn {
  @include rem(font-size, 20);
  @include rem(padding, 11, 32, 13);
  @include Font-Pitch;
  line-height: 1;
  border: 3px solid;
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
  @include mq(t-992, max) {
    @include rem(font-size, 18);
    @include rem(padding, 11, 24, 13);
  }
  @include mq(t-768, max) {
    width: 100%;
    text-align: center;
  }

  &:focus {
    box-shadow: none !important;
  }

  &.btn-primary {
    background: $brand-primary;
    border-color: $brand-primary;
    color: $brand-black;

    &:hover,
    &:focus {
      background: $brand-black;
      border-color: $brand-primary;
      color: $brand-primary;
    }
  }
  &.btn-black {
    background: $brand-black;
    border-color: $brand-black;
    color: $brand-white;

    &:hover,
    &:focus {
      background: $brand-primary;
      border-color: $brand-black;
      color: $brand-black;
    }
  }
}
