//==============* Button mixin *=======================
.btn {
  @include rem(font-size, 20);
  @include rem(padding, 13, 32, 15);
  @include Font-Pitch;
  line-height: 1;
  border: 1px solid;
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
  @include mq(t-992, max) {
    @include rem(font-size, 18);
    @include rem(padding, 13, 24, 15);
  }
  @include mq(t-768, max) {
    width: 100%;
    text-align: center;
  }

  &:focus {
    box-shadow: none !important;
  }

  &.btn-primary {
    background: $brand-primary;
    border-color: $brand-primary;
    color: $brand-black;

    &:hover,
    &:focus {
      background: darken($color: $brand-primary, $amount: 5%);
      border-color: darken($color: $brand-primary, $amount: 5%);
    }
  }
  &.btn-black {
    background: $brand-black;
    border-color: $brand-black;
    color: $brand-white;

    &:hover,
    &:focus {
      background: lighten($color: $brand-black, $amount: 15%);
      border-color: lighten($color: $brand-black, $amount: 15%);
    }
  }
}
