:root {
  font-size: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include Font-Gangster;
  @include rem(font-size, 18);
  background-image: url("../../images/png/bg-gradient.png");
  background-size: contain;
  background-color: #ccc;
  &.modal-open{
    overflow-y: hidden;
  }
}
.common-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
    .header{

    }
    //
    .body-content{
      flex: 1;
      // padding-top: 110px;
    }
    //
    .footer{

    }
}

a {
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.img-fullwidth {
  width: 100%;
}

.img-maxwidth {
  max-width: 100%;
}

.text-uppercase{
  text-transform: uppercase;
}
img{
  max-width: 100%;
}
///////
.separator{
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
  @include mq('t-768', 'max') {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  &:after{
    content: "";
    background-image: url("../../images/icons/horizontal-border.svg");
    background-size: contain;
    height: 1px;
    width: 100%;
    position: absolute;
  }
}
.spacer{
  height: 50px;
  @include mq(t-992, max) {
    height: 30px;
  }
  @include mq(t-768, max) {
    height: 36px;
  }
}
.content-main-wrapper{
  padding: 80px 0;
  @include mq(t-992, max) {
    padding: 72px 0;
  }
  @include mq(t-768, max) {
    padding: 56px 0;
  }
  .container{
    width: 100%;
    @media (min-width: 576px){
      max-width: 540px;
    }
    @media (min-width: 768px){
      max-width: 718px;
      padding: 0 15px;
    }
    @media (min-width: 992px){
      max-width: 960px;
    }
    @media (min-width: 1200px){
      width: 1040px;
    }
    h5{
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 40px;
      text-transform: uppercase;
      @include mq(t-992, max) {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
      }
      @include mq(t-768, max) {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 16px;
      }
    }
    p{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
      @include mq(t-992, max) {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 10px;
      }
      @include mq(t-768, max) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 16px;
        letter-spacing: 0.32px;
      }
    }
    a{
      color: $brand-black;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
    ul{
      list-style: disc;
      padding-left: 40px;
      padding-bottom: 30px;
      font-size: 18px;
      line-height: 22px;
      @include mq(t-992, max) {
        font-size: 12px;
        line-height: 1.4;
      }
      @include mq(t-768, max) {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 16px;
        padding-left: 32px;
        letter-spacing: 0.32px;
      }
    }
    ol{
      list-style: decimal;
      padding-left: 40px;
      padding-bottom: 30px;
      font-size: 18px;
      line-height: 22px;
      @include mq(t-992, max) {
        font-size: 12px;
        line-height: 1.4;
      }
      @include mq(t-768, max) {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 16px;
        padding-left: 32px;
        letter-spacing: 0.32px;
      }
    }
    .one-tab{
      margin-left: 20px;
      @include mq(t-768, max) {
        margin-left: 16px;
      }
    }
  }
}
.optional-separator{

  .separator{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.mobile-hidden-only{
  display: block;
  @include mq(t-768, max) {
    display: none;
  }
}
.mobile-visible-only{
  display: none;
  @include mq(t-768, max) {
    display: block;
  }
}
.campaign-page{
  header {
    .header-menu {
      .menu-wrapper {
        ul {
          li{
            &.active{
              a{
                color: $brand-primary;
              }
            }
          }
        }
      }
    }
  }
}
