// //=======================* Custom Font Mixin Start *=======================
@mixin font-cust($font-family, $file-path) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  // @media screen and (-webkit-min-device-pixel-ratio: 0) {
  //   @font-face {
  //     font-family: $font-family;
  //     src: url('#{$file-path}.svg##{$font-family}') format('svg');
  //   }
  // }
 }

 @include font-cust(GangsterGrotesk-Regular, '../../fonts/GangsterGrotesk-Regular');
 @include font-cust(GangsterGrotesk-Bold, '../../fonts/GangsterGrotesk-Bold');
 @include font-cust(Pitch-Regular, '../../fonts/Pitch-Regular');
 @include font-cust(Plakat-Regular, '../../fonts/Plakat-Regular');

 @mixin Font-Gangster {
  font-family:"GangsterGrotesk-Regular";
  font-weight: normal;
 }

 @mixin Font-GangsterBold {
  font-family:"GangsterGrotesk-Bold";
  font-weight: normal;
 }

 @mixin Font-Pitch {
  font-family:"Pitch-Regular";
  font-weight: normal;
 }

 @mixin Font-Plakat {
  font-family:"Plakat-Regular";
  font-weight: normal;
 }
