footer{
  // background-image: url("../../images/png/footer-bg.png");
  color: $brand-white;
  background-size: cover;
  .top-footer{
    border-bottom: 1px solid $brand-white;
  }
  .stay-connect-wrapper{
    padding: 100px 0;
    @include mq('t-992', 'max') {
      padding: 40px 0 72px;
    }
    @include mq('t-768', 'max') {
      padding: 56px 0;
    }

    .heading-compo{
      @include mq('t-992', 'max') {
        margin-bottom: 40px;
      }
      @include mq('t-768', 'max') {
        margin-bottom: 20px;
      }
    }

    .stay-connect-block{
      display: flex;
      @include mq('t-768', 'max') {
        flex-direction: column;
      }
      .content-block{
        width: 50%;
        @include mq('t-768', 'min') {
          padding-right: 50px;
        }
        @include mq('t-768', 'max') {
          width: 100%;
          margin-bottom: 24px;
        }
        .title{
          margin-bottom: 16px;
          color: $brand-white;
          @include mq('t-992', 'max') {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 9px;
          }
          @include mq('t-768', 'max') {
            margin-bottom: 7px;
          }
        }
        .content{
          @include rem(font-size, 22);
          letter-spacing: .5px;
          @include mq('t-992', 'max') {
            font-size: 12px;
            letter-spacing: .2px;
          }
          @include mq('t-768', 'max') {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: .32px;
          }
        }
      }

      .form-wrapper{
        width: 50%;
        // padding-left: 58px;
        padding-left: 100px;
        @include mq('t-992', 'max') {
          padding-left: 0;
        }
        @include mq('t-768', 'max') {
          width: 100%;
        }

        .main-form{
          display: flex;
          flex-wrap: wrap;
          margin: 0 -11px;
          @include mq('t-768', 'max') {
            margin: 0;
          }
          .form-group{
            padding: 0 11px;
            width: 50%;
            margin-bottom: 16px;
            @include mq('t-992', 'max') {
              margin-bottom: 8px;
            }
            @include mq('t-768', 'max') {
              margin-bottom: 16px;
              width: 100%;
              padding: 0;
            }
            .lbl-title{
              font-size: 14px;
              @include Font-Pitch;
              display: flex;
              margin-bottom: 10px;
              @include mq('t-992', 'max') {
                font-size: 12px;
                margin-bottom: 4px;
              }
              @include mq('t-768', 'max') {
                font-size: 14px;
                margin-bottom: 10px;
              }
            }
              input{
                color: $brand-white;
                width: 100%;
                padding: 10px 15px;
                border: 1px solid #fff;
                min-height: 46px;
                background-color: transparent;
                @include mq('t-992', 'max') {
                  min-height: 32px;
                }
                @include mq('t-768', 'max') {
                  min-height: 46px;
                }
              }
              .error{
                color: $brand-error;
                font-size: 14px;
              }
          }
        }

        .btn-wrapper{
          margin: 6px 0 12px;
          @include mq('t-992', 'max') {
            margin: 8px 0 16px;
          }
          input{
            font-size: 20px;
            @include rem(padding, 9, 32, 11);
            @include Font-Pitch;
            line-height: 1;
            border: 3px solid;
            display: inline-block;
            transition: all .3s;
            cursor: pointer;
            background: $brand-primary;
            border-color: $brand-primary;
            color: $brand-black;
            min-width: 176px;
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            appearance: none;
            -webkit-appearance: none;
            @include mq(t-992, max) {
              @include rem(font-size, 11);
              min-width: 112px;
              letter-spacing: .55px;
              @include rem(padding, 8, 10, 7);
            }
            @include mq(t-768, max) {
              font-size: 18px;
              height: 56px;
              width: 100%;
              text-align: center;
            }

            &:hover,
            &:focus {
              background: $brand-black;
              border-color: $brand-primary;
              color: $brand-primary;
            }
          }
        }

        .form-content{
          font-size: 12px;
          @include Font-Pitch;
          padding-right: 100px;
          @include mq(t-992, max) {
            font-size: 10px;
            padding-right: 0;
          }
          @include mq(t-768, max) {
            font-size: 12px;
          }
        }
      }
    }
  }

  //
  .bottom-footer{
    padding: 32px 0;
    @include mq('t-992', 'max') {
      padding: 16px 0 18px;
    }
    @include mq('t-768', 'max') {
      padding: 32px 0;
    }
  }
  .page-footer{
    display: flex;
    justify-content: space-between;
    @include mq('t-768', 'max') {
      flex-direction: column
    }
    .copy-right{
      @include rem(font-size, 16);
      display: flex;
      align-items: center;
      @include mq('t-768', 'max') {
        flex-direction: column
      }
      @include mq('t-768', 'max') {
        align-items: flex-start;
      }
      p{
        padding-right: 100px;
        @include Font-GangsterBold;
        @include mq('t-992', 'max') {
          font-size: 10px;
          padding-right: 40px;
        }
        @include mq('t-768', 'max') {
          font-size: 14px;
          line-height: 16px;
          padding-right: 0;
          margin-bottom: 16px;
        }
      }

      #menu-footer-menu{
        display: flex;
        @include mq('t-768', 'max') {
          flex-direction: column;
          margin-bottom: 32px;
        }
        li{
          display: flex;
          &:not(:last-child){
            margin-right: 40px;
            a{
              @include mq('t-768', 'max') {
                margin-bottom: 8px;
              }
            }
          }
          a{
            color: $brand-white;
            @include rem(font-size, 16);
            display: inline-block;
            @include mq('t-992', 'max') {
              font-size: 10px;
            }
            @include mq('t-768', 'max') {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }

    .social-menu{
      ul{
        display: flex;
        li{
          display: inline-flex;
          align-items: center;
          &:not(:last-child){
            padding-right: 24px;
            @include mq(t-768, max) {
              padding-right: 40px;
            }
          }
          a{
            display: inline-flex;
          }
        }
      }
    }
  }
}

// #can_embed_form_inner {
//   li {
//     &::marker {
//       background: transparent;
//       color: transparent;
//     }
//   }
// }
// .core_field {
//   label {
//     display: none;
//   }
//   input{
//     color: $brand-white;
//     width: 100%;
//     padding: 10px 15px;
//     border: 1px solid #fff;
//     min-height: 46px;
//     background-color: transparent;
//     @include mq('t-992', 'max') {
//       min-height: 32px;
//     }
//     @include mq('t-768', 'max') {
//       min-height: 46px;
//     }
//   }
// }

// .can_embed .can_button,
// .can_embed #can_embed_form input[type="submit"],
// .can_embed #can_embed_form .button,
// .can_embed #donate_auto_modal input[type="submit"],
// .can_embed #donate_auto_modal .button {
//   font-size: 20px;
//   @include rem(padding, 9, 32, 11);
//   @include Font-Pitch;
//   line-height: 1;
//   border: 3px solid;
//   display: inline-block;
//   transition: all .3s;
//   cursor: pointer;
//   background: $brand-primary;
//   border-color: $brand-primary;
//   color: $brand-black;
//   min-width: 176px;
//   font-size: 20px;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   appearance: none;
//   -webkit-appearance: none;
//   @include mq(t-992, max) {
//     @include rem(font-size, 11);
//     min-width: 112px;
//     letter-spacing: .55px;
//     @include rem(padding, 8, 10, 7);
//   }
//   @include mq(t-768, max) {
//     font-size: 18px;
//     height: 56px;
//     width: 100%;
//     text-align: center;
//   }

//   &:hover,
//   &:focus {
//     background: $brand-black;
//     border-color: $brand-primary;
//     color: $brand-primary;
//   }
// }

// #can-form-area-mtav-footer-form {

// }

// #form_col2 {
//   color: $brand-white;
//   margin: 20px 0;

//   .js-d_sharing {
//     margin-top: 10px;
//   }
// }

// #action_info {
//   margin-bottom: 20px;
// }

// #can_embed_form select {
//   height: 33px!important;
//     width: 100%!important;
//     opacity: 0!important;
//     position: absolute!important;
//     z-index: 999999!important;
//     left: 0!important;
//     top: 0!important;
//     line-height: 44px!important;
//     height: 44px!important;
//     border: 1px solid #b0b0b0!important;
//     // background: url(/images/select2x2.png) no-repeat right -42px top 10px!important;
//     background-size: 60px 40px!important;
//     background-color: #fff!important;
//     box-sizing: border-box!important;
//     border-radius: 0!important;
//     padding: 0 30px 0 10px!important;
//     zoom: 1!important;
//     white-space: nowrap!important;
//     display: block!important;
//     margin-bottom: 15px!important;
//     width: 100%!important;
//     max-width: 100%!important;
// }
#can_embed_form_inner h2,
    #can_embed_form_inner h4{
        display: none;
    }
    .can_embed #can_embed_form a,
    .can_embed #donate_auto_modal a {
        color: white;
    }

    /* Heading colors */
    .can_embed #can_embed_form h1,
    .can_embed #donate_auto_modal h1,
    .can_embed #can_embed_form h2,
    .can_embed #donate_auto_modal h2,
    .can_embed #can_embed_form h3,
    .can_embed #donate_auto_modal h3,
    .can_embed #can_embed_form h4,
    .can_embed #donate_auto_modal h4,
    .can_embed #can_embed_form h5,
    .can_embed #donate_auto_modal h5,
    .can_embed #can_embed_form h6,
    .can_embed #donate_auto_modal h6 {
        color: red !important;
    }

    /* Welcome message background color */
    .can_embed #can_embed_form #action_welcome_message #action_welcome_message_inner,
    .can_embed #donate_auto_modal #action_welcome_message #action_welcome_message_inner {
        background-color: rgba(0,0,0,.10) !important;
    }

    .can_embed #logo_wrap {
        display: none !important;
    }

    /* Thank You Page Header Background Color */
    .can_embed #can_embed_form #can_thank_you,
    .can_embed #donate_auto_modal #can_thank_you {
        background-color: lightblue !important;
    }

    /* Thank You Page Header Text Color */
    .can_embed #can_embed_form #can_thank_you,
    .can_embed #donate_auto_modal #can_thank_you,
    .can_embed #can_embed_form #can_thank_you h1,
    .can_embed #donate_auto_modal #can_thank_you h1,
    .can_embed #can_embed_form #can_thank_you h4,
    .can_embed #donate_auto_modal #can_thank_you h4,
    .can_embed #can_embed_form #can_thank_you #action_info .action_info_user,
    .can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user,
    .can_embed #can_embed_form #can_thank_you #action_info .action_info_user a,
    .can_embed #donate_auto_modal #can_thank_you #action_info .action_info_user a {
        color: black !important;
    }

    /* Thank You Page Divider Line */
    .can_embed #can_embed_form #can_thank_you #action_info,
    .can_embed #donate_auto_modal #can_thank_you #action_info {
        border-color: black !important;
    }

#can_embed_form, #donate_auto_modal,
#donate_make_recurring_modal {
  padding: 0!important;
  border: none!important;
  color: #434343!important;
  font-size: 16px!important;
  line-height: 30px!important;
  font-family: helvetica,Arial,sans-serif!important;
  font-weight: 400!important;
  outline: none!important;
  background-color: transparent !important;
  width: 100%!important;
  max-width: 100%!important;
  box-sizing: border-box!important;
}

#can_embed_form.can_float #form_col1, #can_embed_form.can_float #form_col2{
  width: 100% !important;
}

#can_embed_form input[type=text],
#can_embed_form input[type=password],
#can_embed_form input[type=url],
#can_embed_form input[type=email],
#can_embed_form input[type=tel],
#can_embed_form input[type=number] {
  color: $brand-white !important;
  width: 100% !important;
  padding: 10px 15px !important;
  border: 1px solid #fff !important;
  min-height: 46px !important;
  background-color: transparent !important;
  margin-bottom: 25px !important;
}

#can_embed_form .core_field #form-zip_code:not(.mb_needed) {
  margin-bottom: 25px !important;
}

#can_embed_form select.can_select,
#can_embed_form span.can_select {
  background: transparent !important;
  margin-bottom: 25px !important;
}

#can_embed_form input[type=text]:focus,
#can_embed_form input[type=password]:focus,
#can_embed_form input[type=url]:focus,
#can_embed_form input[type=email]:focus,
#can_embed_form input[type=tel]:focus,
#can_embed_form input[type=number]:focus {
  border-color: #FFCC00 !important;
}


.can_button,
#donate_auto_modal input[type=submit],
#donate_auto_modal .button,
#donate_make_recurring_modal input[type=submit],
#donate_make_recurring_modal .button,
#can_embed_form input[type=submit],
#can_embed_form .button {
  font-size: 20px !important;
  padding: 12px 0 !important;
  @include Font-Pitch;
  line-height: 1 !important;
  border: 3px solid !important;
  display: inline-block !important;
  transition: all .3s !important;
  cursor: pointer !important;
  background: $brand-primary !important;
  border-color: $brand-primary !important;
  color: $brand-black !important;
  min-width: 176px !important;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  appearance: none !important;
  -webkit-appearance: none !important;

}

.can_button:hover,
#donate_auto_modal input[type=submit]:hover,
#donate_auto_modal .button:hover,
#donate_make_recurring_modal input[type=submit]:hover,
#donate_make_recurring_modal .button:hover,
#can_embed_form input[type=submit]:hover,
#can_embed_form .button:hover {
  background: $brand-black !important;
}

#can_embed_form .floatlabel-wrapper .floatlabel-label-active {
  top: -17px !important;
  color: #FFCC00 !important;
}

#can_embed_form .floatlabel-wrapper .floatlabel-label.floatlabel-label-focus, #can_embed_form #action_info .action_info_user a:hover {
  color: #FFCC00 !important;
}

#can_embed_form_inner * {
  color: #fff !important;
}

#can_embed_form:not(.full) #action_info {
  margin-top: 10px!important;
  margin-bottom: 20px !important;
}

#can_embed_form .floatlabel-wrapper .floatlabel-label:after {
  display: none !important;
}
