.heading-compo{
  margin-bottom: 20px;
  .title{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
    @include Font-Pitch;
    color: $gray;
    text-transform: capitalize;
    @include mq('t-768', 'max') {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }
  .line-block{
    display: flex;
    justify-content: space-between;
    .left-block{
      display: flex;
      span{
        display: inline-block;
        width: 32px;
        height: 4px;
        margin-right: 4px;
        background-color: $gray;
        @include mq('t-768', 'max') {
          width: 24px;
          height: 3px;
          margin-right: 2px;
        }
      }
      img{
        @include mq('t-768', 'max') {
          width: 25px;
        }
      }
    }
    .right-block{
      display: flex;
      span{
        display: inline-block;
        width: 68px;
        height: 4px;
        background-color: $gray;
        @include mq('t-768', 'max') {
          width: 50px;
          height: 3px;
        }
      }
    }
  }

  ////
  &.black{
    .title{
      color: $brand-black;
    }
  }
}
