.need-solve--wrapper {
  padding: 80px 0;
  background-image: url("../../images/png/bg-transpernt.png");
  background-size: contain;
  position: relative;
  @include mq('t-992', 'max') {
    padding: 72px 0;
  }
  @include mq('t-768', 'max') {
    padding: 56px 0;
  }
  &:after{
    content: "";
    background-color: $brand-primary;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }
}


.need-solve--inner-wrapper {
    display: flex;
    @include mq('t-768', 'max') {
      flex-direction: column;
    }
    @include mq('t-768', 'min') {
      justify-content: space-between;
    }
    .mobile-heading{
      display: none;
      @include mq(t-768, max) {
        display: block;
        margin-bottom: 20px;
      }
    }
    .need-solve--content{
      h1{
        @include mq(t-992, max) {
          font-size: 26px;
          line-height: 32px;
        }
      }
    }
    .need-solve--left {
      @include mq(t-768, max) {
        display: flex;
        flex-direction: column;
        margin-bottom: 56px;
      }
      @include mq('t-768', 'min') {
        max-width: 324px;
        width: 100%;
      }

      @include mq('t-992', 'min') {
        max-width: 600px;
        width: 100%;
      }
      @media(min-width: 992px) and (max-width: 1024px){
        max-width: 400px;
      }
      @media(min-width: 1025px) and (max-width: 1399px){
        max-width: 450px;
      }
      .need-solve--image {
        display: flex;
        align-items: flex-start;
        @include mq(t-768, max) {
          order: 1;
          margin-bottom: 20px;
          display: block;
        }
        @include mq('t-768', 'min') {
          margin-top: 26px;
        }

        @include mq('t-992', 'min') {
          margin-top: 50px;
        }
      }
      .need-solve--content{
        @include mq(t-768, max) {
          order: 2;
        }
        .heading-compo {
          @include mq(t-768, max) {
            display: none;
          }
        }
        h1{
          @include mq(t-768, max) {
            display: none;
          }
        }
        .content-para{
          @include mq(t-768, max) {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.32px;
          }
        }
      }
    }

    .need-solve--right {

      @include mq('t-768', 'min') {
        max-width: 324px;
        width: 100%;
      }

      @include mq('t-992', 'min') {
        max-width: 513px;
        width: 100%;
      }
      @media(min-width: 992px) and (max-width: 1024px){
        max-width: 400px;
      }
      @media(min-width: 1025px) and (max-width: 1399px){
        max-width: 450px;
      }
      .need-solve--image {
        display: flex;
        align-items: flex-start;
        @include mq(t-768, max) {
          margin-bottom: 20px;
          display: block;
        }
        @include mq('t-768', 'min') {
          justify-content: flex-end;
          margin-bottom: 16px;
        }
      }
      .need-solve--content{
        .heading-compo {
          @include mq(t-768, max) {
            display: none;
          }
        }
        h1{
          @include mq(t-768, max) {
            display: none;
          }
        }
      }
    }

    .content-para {

      @include mq('t-768', 'min') {
        font-size: 18px;
        letter-spacing: 0.2px;
        margin-top: 8px;
      }

      @include mq('t-992', 'min') {
        font-size: 22px;
        letter-spacing: 0.5px;
        margin-top: 20px;
      }
      @include mq(t-768, max) {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.32px;
      }
    }
}
