.the-impact--wrapper {
  padding: 80px 0;

  .separator {


    @include mq('t-768', 'min') {
      padding: 24px 0 32px;
    }

    @include mq('t-992', 'min') {
      padding: 60px 0 40px;
    }
  }
}

.impact-structure--one {
  display: flex;
  justify-content: space-between;

  .imapact-content {
    width: 100%;

    @include mq('t-768', 'min') {
      max-width: 154px;
    }

    @include mq('t-992', 'min') {
      max-width: 220px;
    }

    &--title {
      display: flex;
      align-items: center;

      @include mq('t-768', 'min') {
        font-size: 31px;
        height: 75px;
      }

      @include mq('t-992', 'min') {
        font-size: 42px;
        height: 100px;
      }
    }

    &--para {
      @include Font-Plakat;
      text-transform: uppercase;
      margin-top: 10px;

      @include mq('t-768', 'min') {
        font-size: 12px;
        line-height: 16px;
      }

      @include mq('t-992', 'min') {
        font-size: 18px;
      }
    }
  }
}

.impact-structure--two {
  display: flex;
  justify-content: space-between;

  .imapact-content {
    width: 100%;

    @include mq('t-768', 'min') {
      max-width: 154px;
    }

    @include mq('t-992', 'min') {
      max-width: 220px;
    }

    &.video-featuring {
      @include mq('t-768', 'min') {
        max-width: 300px;
      }

      @include mq('t-992', 'min') {
        max-width: 494px;
      }
    }

    &--title {
      display: flex;
      align-items: center;

      @include mq('t-768', 'min') {
        font-size: 31px;
        height: 75px;
      }

      @include mq('t-992', 'min') {
        font-size: 42px;
        height: 100px;
      }
    }

    &--para {
      @include Font-Plakat;
      text-transform: uppercase;
      margin-top: 10px;

      @include mq('t-768', 'min') {
        font-size: 12px;
        line-height: 16px;
      }

      @include mq('t-992', 'min') {
        font-size: 18px;
      }
    }
  }

  .imapact-content--two-column {
    display: flex;
    justify-content: space-between;
  }
}


.impact-structure--three {
  display: flex;
  justify-content: space-between;

  .imapact-content {
    width: 100%;

    @include mq('t-768', 'min') {
      max-width: 154px;
    }

    @include mq('t-992', 'min') {
      max-width: 270px;
    }

    &--subtitle {
      margin-bottom: 10px;

      @include mq('t-768', 'min') {
        font-size: 12px;
        line-height: 1;
      }

      @include mq('t-992', 'min') {
        font-size: 18px;
      }
    }

    &--title {
      display: flex;

      @include mq('t-768', 'min') {
        font-size: 16px;
        line-height: 1;
      }

      @include mq('t-992', 'min') {
        font-size: 30px;
      }
    }

    &--para {

      @include mq('t-768', 'min') {
        line-height: 16px;
        font-size: 12px;
        margin-top: 18px;
      }

      @include mq('t-992', 'min') {
        line-height: 21px;
        font-size: 18px;
        margin-top: 22px;
      }

      ul {
        list-style-type: disc;

        @include mq('t-768', 'min') {
          padding-left: 15px;
        }

        @include mq('t-992', 'min') {
          padding-left: 20px;
        }

        li {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
