.imgvideo-title-sec{
  display: flex;
  .gradient-bg{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .content-block{
    z-index: 1;
  }

  //
  .big-block-wrapper{
    width: 70%;
    min-height: 56.3vw;
    background-size: cover;
    padding: 80px 10vw 80px 6.87vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    @include mq('d-large', 'min') {
      min-height: 50vw;
    }
    @include mq(t-992, max) {
      padding: 40px;
      width: 66.7%;
    }
    @include mq(t-768, max) {
      width: 100%;
      padding: 70px 24px 40px 24px;
      background-position: center;
    }
    h1.title{
      margin-bottom: 40px;
      color: $brand-white;
      @include mq('t-992', 'max') {
        @include rem(font-size, 26);
        @include rem(line-height, 32);
      }
    }
  }

  .small-block-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    @include mq(t-992, max) {
      width: auto;
      flex: 1;
    }
    .single-block{
      background-size: cover;
      padding: 40px 2.77vw;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      @include mq('t-992', 'max') {
        padding: 24px;
      }
      //
      .heading-compo{
        margin-bottom: 12px;
        .line-block .left-block span{
          width: 20px;
          height: 3px;
          margin-right: 3px;
          @include mq('t-992', 'max') {
            height: 2px;
            margin-right: 2px;
          }
        }
      }
      //
      h3.title{
        margin-bottom: 21px;
        color: $brand-white;
        max-width: 90%;
        @include mq('t-992', 'max') {
          @include rem(font-size, 16);
          margin-bottom: 16px;
          line-height: normal;
        }
      }
      .content{
        @include Font-Pitch;
        letter-spacing: .41px;
        color: $brand-white;
        margin-bottom: 20px;
        @include mq('t-992', 'max') {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: .27px;
          margin-bottom: 16px;
        }
      }
      .btn-wrapper{
        .btn{
          font-size: 18px;
          @include rem(padding, 13, 13, 15);
          min-width: 163px;

          @include mq('t-992', 'max') {
            font-size: 14px;
            padding: 7px 15px 9px;
            min-width: 136px;
          }
        }
      }
    }

    //
    .viewmore-wrapper{
      a{
        display: flex;
        font-size: 24px;
        @include Font-Pitch;
        color: $brand-white;
        background-color: $brand-black;
        align-items: center;
        justify-content: center;
        height: 100px;
        @include mq('t-992', 'max') {
          font-size: 14px;
        }
      }
    }
  }
}
