.whoweare-sec{
  background-color: $brand-black;
  padding-top: 60px;
  .header-block{
    .heading-compo{
      margin-bottom: 69px;
    }
    h1{
      margin-bottom: 40px;
    }
    .btn-wrapper{
      margin-bottom: 24px;
      .btn{

      }
    }
    .img-wrapper{
      padding: 0 30px;
      img{
        max-width: 100%;
      }
    }
  }
}
