.map--wrapper {
  padding: 80px 0;
  background-image: url("../../images/png/bg-transpernt.png");
  background-size: contain;
  position: relative;
  @include mq('t-992', 'max') {
    padding: 72px 0;
  }
  @include mq('t-768', 'max') {
    padding: 56px 0;
    margin: 0 12px;
  }
  &:after{
    content: "";
    background-color: $brand-primary;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }
}

.map-svg--wrapper {
  margin-top: 80px;
  position: relative;

  @include mq('t-768', 'min') {
    margin-top: 25px;
  }

  @include mq('t-992', 'min') {
    margin-top: 80px;
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.map-details {
  position: absolute;
  right: 0;
  bottom: 0;

  @include mq('t-768', 'min') {
    max-width: 254px;
  }

  @include mq('t-992', 'min') {
    max-width: 410px;
  }

  .map-details--info {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mq('t-768', 'min') {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @include mq('t-992', 'min') {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .content {
      text-align: right;
      @include Font-Plakat;
      text-transform: uppercase;
      flex: 1;

      @include mq('t-768', 'min') {
        font-size: 12px;
        line-height: 18px;
      }

      @include mq('t-992', 'min') {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .color-code {
      width: 50px;
      height: 50px;
      border: 2px solid $brand-white;

      @include mq('t-768', 'min') {
        width: 40px;
        height: 40px;
        margin-left: 12px;
      }

      @include mq('t-992', 'min') {
        width: 50px;
        height: 50px;
        margin-left: 20px;
      }

      &.dark-gray {
        background: #666666;
      }

      &.light-gray {
        background: #A6A6A6;
      }
    }
  }
}

.map-text {
  @include Font-Plakat;
}

.city {
  cursor: pointer;
}
.city--hover {
  display: none;
}

// .city-one:hover + .city-one--hover {
//   display: block;
// }
