.letter-main-wrapper{
  h2{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 40px;
    padding-top: 80px;
    @include mq('t-768', 'max') {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 24px;
      padding-top: 56px;
    }
  }
  .second-section{
    h2{
      margin-bottom: 20px;
      padding-top: 0;
      @include mq('t-768', 'max') {
        margin-bottom: 16px;
        padding-top: 0;
      }
    }
  }
  .signed-section{
    h2{
      margin-top: 30px;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 80px;
      @include mq('t-768', 'max') {
        margin-top: 20px;
        padding-top: 0;
        padding-bottom: 56px;
      }
    }
  }
  .two-columned-section{
    display: flex;
    @include mq('t-768', 'max') {
      flex-direction: column;
    }
    .section-left{
      padding-right: 20px;
      flex: 1;
      @include mq('t-768', 'max') {
        padding-right: 0;
      }
    }
    .section-right{
      padding-left: 20px;
      flex: 1;
      @include mq('t-768', 'max') {
        padding-left: 0;
      }
    }
    p{
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 30px;
      @include mq('t-768', 'max') {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.32px;
        margin-bottom: 20px;
      }
    }
    img{
      margin-bottom: 40px;
      @include mq('t-768', 'max') {
        margin-top: 4px;
        margin-bottom: 24px;
      }
    }
  }
}
