// @charset 'utf-8';

// //abstracts
// @import "abstracts";

// //pages
// @import "pages";

// Import global scss and module
@import "global";
@import "components/_banner";
@import "components/whoweare/_educate-section";
@import "components/whoweare/_ivoted";
@import "components/whoweare/_structure-section";
@import "components/_video-popup";

.whoweare-page{
  .banner{
    .inner-wrapper{
      min-height: 810px;
      @include mq('t-992', 'max') {
        min-height: 100vh;
      }
      .heading-compo {
        margin-bottom: 60px;
        @include mq('t-992', 'max') {
          margin-bottom: 31px;
        }
        @include mq('t-768', 'max') {
          margin-bottom: 20px;
        }
      }
    }
  }
}
