/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 47%;
	-webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(-45deg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 1em;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(135deg);
	transform: translateY(-50%) rotate(135deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	//background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select.cs-active{
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 4px;
    @media only screen and (max-width: 767px){
      right: 3px;
    }
  }
  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 4px;
    @media only screen and (max-width: 767px){
      left: 3px;
    }
  }
  &:after, &:before{
    width: 30px;
    height: 4px;
    background: #0c2481;
    z-index: 1;
    @media only screen and (max-width: 991px){
      width: 24px;
    }
    @media only screen and (max-width: 767px){
      width: 20px;
    }
  }
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul li.cs-selected span{
  background: #ffffff;
  color: #0d2481;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background: #ffffff;
  color: #0d2481;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}
