.thank-you-wrapper{

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;

  &.show{
    display: block !important;
  }

  .thank-you{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* common error message */
    .wpcf7 form .wpcf7-response-output{
      color: red;
      border: 0px;
      margin: 0px;
    }

    .img-breifcase{
      position: absolute;
      right: calcRem(100px);
      bottom: calcRem(100px);
      max-width: calcRem(367px);
      z-index: 1;
      @media only screen and (max-width: 1024px){
        max-width: calcRem(408px);
        bottom: 19%;
        right: calcRem(40px);
      }
      @media only screen and (max-width: 767px){
        max-width: calcRem(241px);
        bottom: calcRem(129px);
        right: calcRem(24px);
      }
    }

    .thank-you-header{
      background-color: var(--brand-light-blue-grey);
      padding: calcRem(80px, 0px, 80px, 101px);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;
      @media only screen and (max-width: 1024px){
        padding: calcRem(20px, 0px, 20px, 40px);
      }
      @media only screen and (max-width: 767px){
        padding: calcRem(20px, 0px, 20px, 24px);
      }
      .icon-thumbs-up{
        max-width: calcRem(95px);
        margin-bottom: calcRem(24px);
        @media only screen and (max-width: 1024px){
          max-width: calcRem(80px);
          margin-bottom: calcRem(20px);
        }
        @media only screen and (max-width: 767px){
          max-width: calcRem(64px);
          margin-bottom: calcRem(12px);
        }
      }
      .btn-close{
        background-color: transparent;
        border: 0px;
        outline: none;
        position: absolute;
        top: calcRem(40px);
        right: calcRem(40px);
        padding: 0px;
        @media only screen and (max-width: 1024px){
          top: calcRem(24px);
          right: calcRem(24px);
        }
      }
      .icon-close{
        max-width: calcRem(20px);
      }
    }
    .bottom-patch{
      background-color: var(--brand-royal);
      height: 28vh;
      @media only screen and (max-width: 1024px){
        height: 43vh;
      }
      @media only screen and (max-width: 767px){
        height: 29.4vh;
      }
    }

    .title{
      font-size: calcRem(50px);
      line-height: calcRem(58px);
      display: flex;
      flex-direction: column;
      max-width: calcRem(1172px);
      @media only screen and (max-width: 1024px){
        font-size: calcRem(32px);
        line-height: calcRem(37px);
        max-width: calcRem(510px);
      }
      @media only screen and (max-width: 767px){
        font-size: calcRem(26px);
        line-height: calcRem(30px);
        max-width: calcRem(323px);
      }
    }
  }
}

