.staff-compo{
  padding: 80px 0;
  @include mq('t-992', 'max') {
    padding: 72px 0;
  }
  @include mq('t-768', 'max') {
    padding: 56px 0;
  }
  //
  .header{
    .heading-compo{

    }
    h1.title{
      margin-bottom: 0px;
      @include mq('t-992', 'max') {
        font-size: 26px;
        line-height: 32px;
      }
      @include mq('t-768', 'max') {
        font-size: 25px;
      }
    }
  }

  //
  .staff-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    @include mq('t-992', 'max') {
      margin: 0 -20px;
    }
    @include mq('t-768', 'max') {
      margin: 0;
    }
    .single-block{
      width: 33.33%;
      padding: 0 25px;
      display: flex;
      @include mq('t-992', 'max') {
        width: 50%;
        padding: 0 20px;
      }
      @include mq('t-768', 'max') {
        width: 100%;
        padding: 0;
      }
      &:last-child{
        > div{
          @include mq('t-768', 'max') {
            padding-bottom: 0;
          }
          &::after{
            @include mq('t-768', 'max') {
              display: none;
            }
          }
        }
      }
      > div{
        display: flex;
        flex-direction: column;
        padding: 40px 0 29px;
        position: relative;
        width: 100%;
        align-items: flex-start;
        @include mq('t-992', 'max') {
          padding: 40px 0 16px;
        }
        @include mq('t-768', 'max') {
          padding: 24.5px 0;
        }
        &:after{
          content: "";
          background-image: url("../../images/icons/dash.svg");
          background-size: contain;
          height: 1px;
          width: 100%;
          position: absolute;
          bottom: 0;
          @include mq('t-992', 'max') {
            background-size: 18px 1px;
          }
          @include mq('t-768', 'max') {
            background-size: 21px 1px;
          }
        }
      }

      .staff-member{
        // display: flex;
        margin-bottom: 21px;
        align-items: center;
        overflow: hidden;
        @include mq('t-992', 'max') {
          margin-bottom: 16px;
        }
        @include mq('t-768', 'max') {
          display: block;
        }
        border-radius: 50%;
        img{
          max-width: 234px;
          display: block;
          @include mq(t-992, max) {
            max-width: 324px;
          }
          @include mq(t-768, max) {
            max-width: 100%;
          }
          &:hover{
            filter: grayscale(80%);
          }
        }

        .staff-member-inner {
          min-height: 234px;
          background-color: $brand-primary;
          width: 100%;
        }
      }

      .name{
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 2px;
        @include mq('t-992', 'max') {
          font-size: 18px;
          line-height: 20px;
        }
        @include mq('t-768', 'max') {
          font-size: 25px;
          line-height: 32px;
        }
      }

      .job-title{
        @include mq('t-992', 'max') {
          font-size: 12px;
          line-height: 16px;
        }
        @include mq('t-768', 'max') {
          font-size: 14px;
          line-height: 18px;
          letter-spacing: .32px;
        }
      }

    }
  }
}
