.whoweare-page{
  .banner{
    .inner-wrapper{
      min-height: 810px;
      @include mq('t-992', 'max') {
        min-height: 100vh;
      }
      .heading-compo {
        margin-bottom: 60px;
        @include mq('t-992', 'max') {
          margin-bottom: 31px;
        }
        @include mq('t-768', 'max') {
          margin-bottom: 20px;
        }
      }
    }
  }
}
