.whoweare-banner{
  position: relative;
  &:before{
    content: "";
    background: rgba(0,0,0,0.48);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .whoweare-inner-wrapper{
    min-height: 810px;
    display: flex;
    position: relative;
    z-index: 2;
    .container{
      margin-top: auto;
      margin-bottom: 100px;
    }
    .heading-compo {
      margin-bottom: 60px;
    }
    h1{
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 40px;
    }
  }
}
