@font-face {
  font-family: 'SharpGroteskBook22';
  src        : url('SharpGroteskBook22.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: 'SharpGroteskMediumItalic22';
  src        : url('SharpGroteskMediumItalic22.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}
